body {
    background-color: darkslategrey; 
    text-align: center;}

h1, a:link, a:visited {
    color: chartreuse; 
    font-family: Arial; 
    background-color:cadetblue;
    padding: 25px;
    margin: 25px;
    border: 2px solid green;
}

p {
    color: greenyellow; 
    font-family: 'Times New Roman';
    padding: 25px;}

a:hover {
    color: white;
    background-color: green;
}

img {
    float:none;
    margin: 20px;
}

div {
    width: 30%;
    display: inline-block;
    background-color:darkgoldenrod;
}